<div class="browse-images hidden">
  <nav class="pagination">
    <button class="first" type="button">&larrb;</button>
    <button class="prev" type="button">&larr;</button>
    <input type="number" class="current" min="1"/>
    <button class="next" type="button">&rarr;</button>
    <button class="last" type="button">&rarrb;</button>
  </nav>
  <label class="floating-label">
    <input class="input-text filter" placeholder="<%= t('.filter') %>"/>
    <span><%= t('.filter') %></span>
  </label>
  <ul class="list-of-entities"></ul>
</div>
