$text-color-secondary: #777 !default;

#biovision-component-parameters {
  margin: var(--spacer-s) 0;
  padding: 0;

  li {
    list-style: none;
    margin: 0 0 var(--spacer-m);
  }

  label {
    font-size: var(--font-size-increased);
    font-weight: 400;

    + span {
      color: $text-color-secondary;
    }
  }

  .value {
    align-items: center;
    display: flex;
    margin: var(--spacer-xxs) 0;

    input {
      flex: 1;
    }

    button {
      flex: none;
    }
  }

  .description {
    font-size: var(--font-size-decreased);
    margin: var(--spacer-xxs) 0 0;
  }
}