$text-color-secondary: #777 !default;

#biovision-component-parameters {
  margin: var(--spacer-s) 0;
  padding: 0;

  label {
    font-size: var(--font-size-increased);
    font-weight: 400;
  }

  input {
    border: .1rem solid #aaa;
    margin: 0;
    padding: var(--spacer-xxs);
    transition: .125s;
  }

  :disabled {
    background-color: transparent;
    border-color: transparent;
  }

  .updated {
    background-color: rgba(0, 127, 0, .125);
    border-color: rgb(0, 127, 0);
  }

  .failed {
    background-color: rgba(127, 0, 0, .125);
    border-color: rgb(127, 0, 0);
  }
}

.biovision-components-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    margin: var(--spacer-xs) 0;
  }

  a {
    --image-size: calc(var(--font-size-normal) + var(--spacer-xs));

    background: no-repeat center left / var(--image-size) var(--image-size);
    display: inline-block;
    padding: var(--spacer-xxs) 0 var(--spacer-xxs) calc(var(--image-size) + var(--spacer-xxs));
  }

  .contact {
    background-image: image_url('biovision/base/icons/components/contact.svg');
  }

  .registration {
    background-image: image_url('biovision/base/icons/components/registration.svg');
  }
}

.biovision-components-index {
  h2 {
    background: no-repeat center left / 2.4rem 2.4rem;
    padding-left: 3rem;
  }

  .contact {
    h2 {
      background-image: image_url('biovision/base/icons/components/contact.svg');
    }
  }

  .registration {
    h2 {
      background-image: image_url('biovision/base/icons/components/registration.svg');
    }
  }
}

.biovision-component-nav {
  margin: var(--spacer-s);

  .settings {
    background: image_url('biovision/base/icons/settings.svg') no-repeat center left / 2rem 2rem;
    display: inline-block;
    margin: 0 0 var(--spacer-xs);
    padding-left: 2.4rem;
  }

  ul {
    box-shadow: $block-shadow;
    margin: var(--spacer-xxs);
    max-width: 64rem;
    padding: 0;
  }

  li {
    background: $row-background-odd;
    list-style: none;
    margin: 0;
    padding: var(--spacer-xs);
    position: relative;

    &:nth-last-of-type(even) {
      background: $row-background-even;
    }
  }
}
