<% content_for :meta_title, t('.title') %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <div class="message-box-alert"><%= t('.registration_is_closed') %></div>
  </div>
</article>
