<footer>
  <div>
    <div class="copyright">&copy; <%= t(:copyright) %></div>
    <nav>
      <ul>
        <li><%= link_to(t('about.index.nav_text'), about_path) %></li>
        <li><%= link_to(t('about.tos.nav_text'), tos_path) %></li>
      </ul>
    </nav>
  </div>
</footer>
