<div class="toggleable" data-url="<%= toggle_admin_privilege_path(entity) %>">
  <% Privilege.toggleable_attributes.each do |flag| %>
  <span class="<%= entity.attributes[flag.to_s] ? 'active' : 'inactive' %>" data-flag="<%= flag %>">
    <%= t("activerecord.attributes.privilege.#{flag}") %>
  </span>
  <% end %>
</div>
