.floating-label {
  display: block;
  padding: 1.4rem 0 0 0;
  position: relative;

  span {
    top: 1.2rem;
    font-size: 1rem;
    left: .4rem;
    line-height: 1;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transition: .25s;
  }

  input:not(:placeholder-shown) + span {
    opacity: 1;
    top: .2rem;
  }
}

.input-text {
  border: .1rem solid rgba(0, 0, 0, .5);
  border-radius: .2rem;
  font-size: var(--font-size-normal);
  margin: 0;
  padding: var(--spacer-xxs) var(--spacer-xs);
  transition: .25s;

  &:focus {
    border-color: rgba(0, 0, 0, .75);
    box-shadow: 0 0 .4rem rgba(0, 0, 0, .75);
    outline: none;
  }
}