<section class="biovision-components-index">
  <% collection.each do |component| %>
    <%
      handler = Biovision::Components::BaseComponent.handler(component, current_user)
      next unless handler.allow?
    %>
    <section class="<%= component.slug %>">
      <h2><%= handler.name %></h2>

      <%=
        render(
            partial: 'admin/components/entity/links',
            locals: { handler: handler }
        )
      %>
    </section>
  <% end %>
</section>
