<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.heading') %></h1>

  <%=
    render(
        partial: 'admin/index/components',
        locals: {
            collection: BiovisionComponent.list_for_administration
        }
    )
  %>

  <div class="dashboard">
    <%= render 'admin/index/biovision_base' %>
    <%= render 'admin/index/custom_dashboard' %>
  </div>
</article>
