<div class="links">
  <%= link_to(t('authentication.nav_item.log_in'), login_path, class: 'button-nav') %>
  <%= link_to(t('authentication.nav_item.join'), new_my_profile_path, class: 'button-nav') %>
</div>
