<div>
  <dt><%= t(:flags) %></dt>
  <dd>
    <ul class="flags">
      <% f.object.class.toggleable_attributes.each do |flag| %>
        <li>
          <%= f.check_box flag %>
          <%= f.label flag %>
        </li>
      <% end %>
    </ul>
  </dd>
</div>
