<%
  entity = f.object
  model_name = entity.class.to_s.underscore
%>
<div>
  <dt><%= t(:flags) %></dt>
  <dd>
    <ul class="flags">
      <% entity.class.toggleable_attributes.each do |flag| %>
        <li>
          <%= f.check_box flag, id: "#{model_name}_#{flag}" %>
          <%= f.label flag %>
        </li>
      <% end %>
    </ul>
  </dd>
</div>
