<div>
  <%=
    button_tag(
        t(:remove_image),
        type:  :button,
        class: 'button-destroy remove-image-button',
        data:  {
            url: url,
            text: t(:are_you_sure)
        }
    )
  %>
</div>
