{
    const form = document.getElementById('<%= form_id %>');

    let errors = form.querySelector('ol.errors');
    let data = '';

    if (!errors) {
        errors = document.createElement('ol');
        errors.classList.add('errors');
    }

    <% entity.errors.full_messages.each do |message| %>
    data += '<li><%= j message %></li>';
    <% end %>

    errors.innerHTML = data;

    form.prepend(errors);
}
