<div class="data">
  <div><%= admin_privilege_group_link(entity) %></div>
  <div class="secondary info">
    <%= entity.slug %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(edit_privilege_group_path(entity.id)) %></li>
  </ul>
</div>
