<section>
  <h2><%= t('.heading') %></h2>

  <%=
    render(
        partial: 'shared/admin/list_with_priority',
        locals: {
            collection: entity.link_block_items.list_for_administration
        }
    )
  %>
</section>

<section>
  <h2><%= t('.new_item') %></h2>

  <%=
    render(
        partial: 'link_block_items/form',
        locals: { entity: entity.link_block_items.new }
    )
  %>
</section>