<h1>Здравствуйте, <%= @code.user.name_for_letter %>.</h1>

<p>
  Если вы запрашивали сброс пароля, вы можете сделать это на странице
  <%= link_to(my_recovery_url, my_recovery_url(code: @code.body)) %>.
</p>

<p>
  Код для сброса пароля: <em><%= @code.body %></em>
</p>
