<% content_for :meta_title, t('.title') %>
<% content_for :hide_sidebar, '1' %>

<article class="entity-page">
  <h1><%= t('.title') %></h1>
  <ul class="actions">
    <li><%= back_icon(admin_privileges_path) %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
