<%= render partial: 'shared/entity/metadata', locals: { entity: entity } %>

<article class="editable-page">
  <div class="content-wrapper">
    <%=
      render(
          partial: 'editable_pages/entity/content',
          locals: { entity: entity }
      )
    %>
  </div>
</article>
