@import "shared";
@import "biovision/base/default";
@import "biovision/base/default_application";
@import "biovision/base/themes/simple-layout";
@import "application/layout";
@import "components/carousel";
