// Здесь можно переобъявлять то, что описано в biovision/base/default,
// а также добавлять новые общие стили
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&subset=cyrillic');

$font-family-main: "Roboto", sans-serif;
$font-family-heading: $font-family-main;

$font-size-xxxl: 5.6rem;
$font-size-xxl: 4.5rem;
$font-size-xl: 3.2rem;
$font-size-large: 2.4rem;
$font-size-increased: 1.8rem;
$font-size-normal: 1.6rem;
$font-size-decreased: 1.3rem;
$font-size-small: 1.1rem;
$font-size-xs: 1rem;
