<header>
  <%= render 'layouts/admin/header/logo' %>
  <nav>
    <ul>
      <% unless current_user.nil? %>
        <li><%= current_user.screen_name %></li>
        <li><%= link_to(t(:logout), logout_path, method: :delete, class: 'button button-primary') %></li>
      <% end %>
    </ul>
  </nav>
</header>
