<% content_for :meta_title, t('.title', page: current_page) %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <%= paginate @collection %>
    <%=
      render(
          partial: 'my/notifications/list',
          locals: { collection: @collection }
      )
    %>
    <%= paginate @collection %>
  </div>
</article>
