<section class="summary">
  <h1><%= t('my.index.index.heading') %></h1>

  <figure>
    <%= user_image_profile(current_user) %>
    <figcaption><%= current_user.profile_name %></figcaption>
  </figure>

  <%= render 'my/index/dashboard/biovision_post' if Gem.loaded_specs.key?('biovision-post') %>
</section>
