<div class="data">
  <div data-url="<%= privilege_admin_user_path(id: user.id, privilege_id: privilege.id) %>" class="entity">
    <% element_id = "user_privilege_#{privilege.id}" %>
    <%= check_box_tag element_id, 1, privilege.has_user?(user) %>
    <%= label_tag element_id, privilege.name %>
    <% if privilege.child_privileges.any? %>
      <%=
        render(
            partial: 'admin/users/entity/privilege_tree',
            locals:  {
                privileges: Privilege.for_tree(privilege.id), user: user
            }
        )
      %>
    <% end %>
  </div>
</div>
