<% if privileges.any? %>
  <ul class="list-of-entities privileges">
    <% privileges.each do |privilege| %>
      <li data-id="<%= privilege.id %>">
        <%=
          render(
              partial: 'admin/users/entity/privilege',
              locals:  {
                  privilege: privilege,
                  user:      user
              }
          )
        %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= render 'shared/nothing_found' %>
<% end %>
