<% content_for :meta_title, t('.title') %>

<article class="authentication">
  <h1><%= t('.title') %></h1>

  <%= render 'form' %>

  <p><%= link_to t('my.recoveries.show.title'), my_recovery_path, class: 'nav-button' %></p>
</article>
