<% content_for :meta_title, t(".#{action_name}.title") %>

<article>
  <h1><%= t(".#{action_name}.heading") %></h1>

  <div class="message-box-alert"><%= t(".#{action_name}.message") %></div>
</article>
