<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('my.profiles.nav_item.text'), my_path) %>
    <span><%= t('my.login_attempts.nav_item.text') %></span>
<% end %>

<article class="profile-content">
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <%= render partial: 'list', locals: { collection: @collection } %>
  </div>
</article>
