<header id="main-header">
  <div>
    <%= render 'layouts/application/header/logo' %>
    <nav>
      <%= render 'layouts/application/header/navigation' %>
    </nav>
    <%= render 'layouts/application/header/authentication' %>
  </div>
</header>
