<div class="image">
  <%= profile_avatar(entity.user) %>
</div>
<div class="data">
  <div><%= admin_user_link(entity.user) %></div>
  <div>
    <%=
      render(
          partial: 'admin/components/privileges/links',
          locals: {
              handler: handler,
              entity: entity
          }
      )
    %>
  </div>
</div>
