<ul class="entity-links">
  <li>
    <% element_id = "component_administrator_#{handler.slug}_#{entity.user_id}" %>
    <%=
      check_box_tag(
          'user_id',
          entity.user_id,
          entity.administrator?,
          data: {
              url: admin_component_administrators_path(slug: handler.slug, user_id: entity.user_id)
          },
          id: element_id
      )
    %>
    <%= label_tag(element_id, t('activerecord.attributes.biovision_component_user.administrator')) %>
  </li>
  <%
    privilege_names = handler.class.privilege_names
    privilege_names.unshift('settings') if handler.use_settings?
  %>
  <% privilege_names.each do |privilege_slug| %>
    <li>
      <%=
        render(
            partial: 'admin/components/privileges/privilege_flag',
            locals: {
                entity: entity,
                handler: handler,
                slug: privilege_slug
            }
        )
      %>
    </li>
  <% end %>
</ul>
