<% if current_user_has_privilege?(:content_manager) %>
  <nav>
    <div class="heading" id="biovision-links-heading">
      <%= t('.heading') %>
    </div>

    <ul aria-describedby="biovision-links-heading">
      <li><%= render 'admin/link_blocks/nav_item' %></li>
    </ul>
  </nav>
<% end %>
