<% if current_user_has_privilege?(:content_manager) %>
  <nav>
    <div class="heading"><%= t('.heading') %></div>
    <ul>
      <li><%= render 'admin/editable_pages/nav_item' %></li>
      <li><%= render 'admin/simple_blocks/nav_item' %></li>
<!--      <li><%#= render 'admin/media_folders/nav_item' %></li>-->
<!--      <li><%#= render 'admin/media_files/nav_item' %></li>-->
    </ul>
  </nav>
<% end %>
