<% if current_user_in_group?(:editors) %>
  <nav>
    <div class="heading"><%= t('.heading') %></div>
    <ul>
      <% if current_user_has_privilege?(:chief_editor) %>
        <li><%= render 'admin/editable_pages/nav_item' %></li>
      <% end %>
      <li><%= render 'admin/media_folders/nav_item' %></li>
      <li><%= render 'admin/media_files/nav_item' %></li>
    </ul>
  </nav>
<% end %>
