$toggleable-active: #34c749 !default;
$toggleable-inactive: #fc605c !default;
$toggleable-switch: #fdbc40 !default;
$toggleable-unknown: #c0c0c0 !default;
$toggleable-background: #fff !default;

html {
  background-image: linear-gradient(#dedfe3 2%, #aeb3b9 95%), radial-gradient(33% 100%, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  background-blend-mode: screen;
  background-attachment: fixed;
  font: 10px $main-font-family;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color-hover;
}

img {
  max-width: 100%;
}

body {
  background: #fff;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  font-size: $font-size-normal;
  margin: 0 auto;
  max-width: $content-width;
  min-height: 100vh;

  > header {
    align-items: center;
    border-bottom: $border-primary;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .logo {
      margin: 0 auto 0 0;
    }

    nav {
      ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          list-style: none;
          margin: 0 .25rem;
          text-align: center;

          a:link,
          a:visited {
            @include nav-button;
          }
        }
      }
    }
  }

  > footer {
    margin: auto 0 0 0;
    padding: .8rem 0;
  }

  > footer {
    align-items: center;
    border-top: $border-primary;
    color: $text-color-secondary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: $font-size-decreased;
    justify-content: space-between;
    margin: auto 0 0 0;
    max-width: $content-width;
    padding: .8rem;
  }
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

#main {
  padding: 1rem;

  article {
    position: relative;

    figure {
      margin: 0;

      &.preview {
        img {
          max-width: 32rem;
        }
      }
    }

    dl {
      margin: 0 0 1.6rem 0;
      padding: 0;

      dt {
        border-top: .1rem solid #f0f0f0;
        margin: 1rem 0 0 0;
        padding: 0;
      }

      dd {
        margin: 0 0 0 .8rem;
        padding: 0;

        input,
        textarea {
          font-size: $font-size-normal;
        }

        input:not([type=checkbox]):not([type=radio]):not([size]):not([max]),
        textarea {
          width: calc(100% - 1rem);
        }
      }
    }

    ul.flags {
      margin: 1.6rem 0;
      padding: 0;

      > li {
        list-style: none;
        margin: 0;
        padding: 0;

        label {
          font-weight: normal;
        }
      }
    }
  }
}

nav.admin-breadcrumbs {
  background: linear-gradient(to right, rgba(192, 230, 192, .125), rgba(255, 255, 255, 0));
  border-left: .2rem solid rgba(80, 230, 80, .5);
  margin-bottom: .8rem;
  padding: .4rem;

  a::after {
    color: $text-color-primary;
    content: ' / ';
    text-decoration: none;
  }
}

.toggleable {
  font-size: $font-size-decreased;
  margin: .8rem;

  > span {
    background-color: $toggleable-background;
    border: .1rem solid;
    border-radius: .8rem;
    cursor: pointer;
    display: inline-block;
    line-height: #{$font-size-decreased * 2};
    margin: .4rem;
    padding: 0 .8rem 0 0;

    &::before {
      border-radius: .6rem 0 0 .6rem;
      display: inline-block;
      line-height: #{$font-size-decreased * 2};
      margin: 0 .4rem 0 0;
      text-align: center;
      width: 2.2rem;
    }
  }

  .active {
    border-color: $toggleable-active;

    &::before {
      background-color: $toggleable-active;
      content: '\2611';
    }
  }

  .inactive {
    border-color: $toggleable-inactive;

    &::before {
      background-color: $toggleable-inactive;
      content: '\2610';
    }
  }

  .switch {
    border-color: $toggleable-switch;
    cursor: not-allowed;

    &::before {
      background-color: $toggleable-switch;
      content: '\231B';
    }
  }

  .unknown {
    border-color: $toggleable-unknown;

    &::before {
      background-color: $toggleable-unknown;
      content: '\26A0';
    }
  }
}

.privileges {
  ul {
    border-left: $border-primary;
    margin: .8rem 0 0 2.4rem;

    &.regions {
      margin: 0 0 0 1.2rem;
      padding: 0;
      border: none;

      > li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
