.entity-page {
  figure.preview {
    margin: 0;

    img {
      max-width: 32rem;
    }
  }

  dl {
    margin: 0 0 1.6rem 0;
    padding: 0;

    dt {
      border-top: .1rem solid #f0f0f0;
      margin: 1rem 0 0 0;
      padding: 0;
    }

    dd {
      margin: 0 0 0 .8rem;
      padding: 0;

      input,
      textarea {
        font-size: $normal-font-size;
      }

      input:not([type=checkbox]):not([type=radio]):not([size]),
      textarea {
        width: calc(100% - 1rem);
      }
    }
  }

  ul.flags {
    margin: 1.6rem 0;
    padding: 0;

    > li {
      list-style: none;
      margin: 0;
      padding: 0;

      label {
        font-weight: normal;
      }
    }
  }
}