:root {
  --font-size-xxxl: #{$font-size-xxxl};
  --font-size-xxl: #{$font-size-xxl};
  --font-size-xl: #{$font-size-xl};
  --font-size-large: #{$font-size-large};
  --font-size-increased: #{$font-size-increased};
  --font-size-normal: #{$font-size-normal};
  --font-size-decreased: #{$font-size-decreased};
  --font-size-small: #{$font-size-small};
  --font-size-xs: #{$font-size-xs};

  --spacer-s: #{$spacer-s};                 // 1.6
  --spacer-xxxs: .2rem;
  --spacer-xxs: calc(var(--spacer-s) / 4);  // .4
  --spacer-xs: calc(var(--spacer-s) / 2);   // .8
  --spacer-m: calc(var(--spacer-s) * 2);    // 3.2
  --spacer-l: calc(var(--spacer-s) * 3);    // 4.8
  --spacer-xl: calc(var(--spacer-s) * 4);   // 6.4
  --spacer-xxl: calc(var(--spacer-s) * 6);  // 9.6
}

html {
  background: linear-gradient(to bottom, #dedfe3 2%, #aeb3b9 95%) fixed, radial-gradient(farthest-corner at 33% 100%, rgba(255, 255, 255, .5) 0%, rgba(0, 0, 0, .5) 100%) fixed;
  background-blend-mode: screen;
}

a:link,
a:visited {
  font-weight: 400;
}

h1 {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  margin-bottom: var(--spacer-xs);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin-bottom: var(--spacer-xxs);
}

body {
  background: #fff;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  margin: 0 auto;
  max-width: $content-width;
  min-height: 100vh;
  min-width: $content-width-min;

  > header {
    align-items: center;
    border-bottom: $border-primary;
    display: flex;
    flex-wrap: wrap;
    padding: var(--spacer-xs);

    .logo {
      margin: 0 auto 0 0;
    }

    nav {
      ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style: none;
        margin: 0 var(--spacer-xxs);
        text-align: center;
      }
    }
  }

  > footer {
    align-items: center;
    border-top: $border-primary;
    color: $text-color-secondary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--font-size-decreased);
    justify-content: space-between;
    margin: auto 0 0 0;
    padding: var(--spacer-xs);
  }
}

#main {
  padding: var(--spacer-xs);
  width: 100%;
}

article {
  figure {
    max-width: 100%;

    &.preview {
      max-width: 32rem;

      img {
        box-shadow: $block-shadow;
        max-width: 100%;
      }
    }
  }

  dl {
    margin: 0 0 var(--spacer-s);
    padding: 0;

    ul {
      margin: 0;
      padding: 0;

      > li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
      }

      label {
        font-weight: normal;
      }
    }

    .text {
      box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, .25);
      padding: var(--spacer-s);

      ul {
        padding-left: var(--spacer-m);

        > li {
          list-style: initial;
        }
      }
    }
  }

  > nav {
    margin: var(--spacer-s) 0;
  }

  > section {
    border-top: .1rem solid $text-color-secondary;
    margin: var(--spacer-m) auto;
    padding: var(--spacer-xs) 0 0;
  }
}

.dashboard {
  nav {
    margin: var(--spacer-xxs) 0 var(--spacer-s);
    max-width: 64rem;
  }

  h3,
  .heading {
    display: block;
    font: 500 var(--font-size-increased)/1.5 $font-family-heading;
  }

  ul {
    box-shadow: $block-shadow;
    margin: var(--spacer-xxs);
    padding: 0;
  }

  li {
    background: $row-background-odd;
    list-style: none;
    margin: 0;
    padding: var(--spacer-xs);
    position: relative;

    &:nth-last-of-type(even) {
      background: $row-background-even;
    }
  }

  .description {
    color: $text-color-secondary;
    font-size: var(--font-size-decreased);
  }
}

.list-of-entities {
  .data {
    > div:first-of-type {
      margin-bottom: var(--spacer-xs);
    }

    nav {
      margin: var(--spacer-s) 0;

      a:not(:last-of-type) {
        margin-right: var(--spacer-xs);
      }
    }
  }
}

nav.breadcrumbs {
  margin-bottom: var(--spacer-xs);
  padding: var(--spacer-xxs);
}

.privileges {
  ul {
    border-left: $border-primary;
    margin: var(--spacer-xs) 0 0 var(--spacer-m);
  }
}

#media-folder-snapshot {
  img {
    max-height: 8rem;
    max-width: 8rem;
  }
}

.ck-content {
  ul {
    padding-left: var(--spacer-m);

    > li {
      list-style: initial;
    }
  }
}

.state_container {
  margin-bottom: var(--spacer-s);

  progress {
    width: 100%;
  }
}

@import "biovision/base/admin/components";
