.entity-page {
  figure.preview {
    margin: 0;
    max-width: 32rem;

    img {
      max-width: 100%;
    }
  }

  dl {
    margin: 0 0 1.6rem 0;
    padding: 0;

    dt {
      border-top: .1rem solid #f0f0f0;
      margin: 1rem 0 0 0;
      padding: 0;
    }

    dd {
      margin: 0 0 0 .8rem;
      padding: 0;

      input {
        font-size: $normal-font-size;
      }
    }
  }

  ul.flags {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;
      margin: 0;
      padding: 0;

      label {
        font-weight: normal;
      }
    }
  }
}