* {
  box-sizing: border-box;
}

html {
  background-attachment: fixed;
  background-blend-mode: screen;
  background-image: linear-gradient(to bottom, #dedfe3 2%, #aeb3b9 95%), radial-gradient(farthest-corner at 33% 100%, rgba(255, 255, 255, .5) 0%, rgba(0, 0, 0, .5) 100%);
  font: 300 10px $font-family-main;
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

a:link,
a:visited {
  color: $link-color;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: $link-color-hover;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color-heading;
  font-family: $font-family-heading;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: .8rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: .4rem;
}

body {
  background: #fff;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  font-size: $font-size-normal;
  margin: 0 auto;
  max-width: $content-width;
  min-height: 100vh;

  > header {
    align-items: center;
    border-bottom: $border-primary;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    .logo {
      margin: 0 auto 0 0;
    }

    nav {
      ul {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline-block;
        list-style: none;
        margin: 0 .25rem;
        text-align: center;
      }

      a:link,
      a:visited {
        @include button-nav;
      }
    }
  }

  > footer {
    align-items: center;
    border-top: $border-primary;
    color: $text-color-secondary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: $font-size-decreased;
    justify-content: space-between;
    margin: auto 0 0 0;
    max-width: $content-width;
    padding: .8rem;
  }
}

#main {
  padding: 1rem;
  width: 100%;
}

article {
  position: relative;

  figure {
    margin: 0;

    &.preview {
      img {
        box-shadow: $block-shadow;
        max-width: 32rem;
      }
    }
  }

  dl {
    margin: 0 0 1.6rem 0;
    padding: 0;


    ul {
      margin: 0;
      padding: 0;

      > li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
      }

      label {
        font-weight: normal;
      }
    }
  }

  dt {
    border-top: $border-secondary;
    font: 400 $font-size-increased $font-family-main;
    margin: .8rem 0 0 0;
    padding: .4rem 0;
  }

  dd {
    margin: .2rem 0;
    padding: 0;

    input,
    textarea {
      font-size: $font-size-normal;
      min-width: 1ch;
    }

    input:not([type=checkbox]):not([type=radio]):not([size]):not([max]),
    textarea {
      width: 100%;
    }

    input,
    textarea {
      max-width: 100%;
    }
  }

  > nav {
    margin: 1.6rem 0;
  }

  > section {
    border-top: .1rem solid $text-color-secondary;
    margin: 2.4rem auto;
    padding: .8rem 0 0 0;
  }
}

nav.admin-breadcrumbs {
  margin-bottom: .8rem;
  padding: .4rem;

  a {
    background: image_url('biovision/base/icons/breadcrumb.svg') no-repeat bottom .1rem right / .6rem 1.2rem;
    padding-right: 1rem;
    transition: background .25s;

    &:hover {
      background-image: image_url('biovision/base/icons/breadcrumb-hover.svg');
    }
  }
}

.privileges {
  ul {
    border-left: $border-primary;
    margin: .8rem 0 0 2.4rem;

    &.regions {
      margin: 0 0 0 1.2rem;
      padding: 0;
      border: none;

      > li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}

#media-folder-snapshot {
  img {
    max-height: 8rem;
    max-width: 8rem;
  }
}
