* {
  box-sizing: border-box;
}

html {
  font: 10px $font-family-main;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 4.2rem;
}

a:link {
  color: $link-color;
  text-decoration: none;
  transition: color .125s;
}

a:visited {
  color: $link-color-visited;
}

a:active,
a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

article {
  position: relative;
}

button,
input,
textarea {
  font-size: inherit;
}

ul.actions {
  align-items: center;
  background: #fff;
  border-radius: .4rem;
  box-shadow: $block-shadow;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  opacity: .5;
  padding: 0;
  position: absolute;
  right: .4rem;
  top: .4rem;
  transition: .25s;

  &:hover {
    opacity: 1;
  }

  > li {
    flex-basis: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    list-style: none;
    margin: .4rem;
    padding: 0;

    &.danger {
      margin-left: 3.2rem;
    }

    &.priority-changer {
      align-items: center;
      display: flex;
      flex-basis: 3.6rem;
      justify-content: space-between;
    }
  }

  a,
  button {
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.2rem;
    height: 1.6rem;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
    width: 1.6rem;
  }

  img {
    max-height: 1.6rem;
    max-width: 1.6rem;
  }
}

.list-of-entities {
  margin: 1.6rem 0;
  padding: 0;

  > li {
    align-items: flex-start;
    background: $row-background-odd;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0.8rem;

    &:nth-of-type(even) {
      background: $row-background-even;
    }

    .image {
      flex: none;
      margin: 0 .8rem 0 0;
      text-align: center;
      width: 8rem;

      img {
        max-height: 8rem;
        max-width: 8rem;
      }

      & + .data {
        max-width: calc(100% - 8.8rem);
      }
    }

    .data {
      flex: 1;
      position: relative;

      .info {
        font-size: $font-size-decreased;
      }

      .secondary {
        color: $text-color-secondary;
      }

      .truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .compact {
        align-items: center;
        display: flex;
        flex-wrap: wrap;

        .toggleable, > span {
          margin: 0 .8rem;
        }
      }

      .children {
        border-left: .1rem dotted;
        margin-left: 1.6rem;
      }
    }
  }
}

ul.list-of-entities {
  ul.actions {
    > li.priority-changer {
      display: none;
    }
  }
}

ol.list-of-entities {
  > li[data-number]::before {
    content: attr(data-number) ":";
    display: inline-block;
    margin: 0 .8rem 0 0;
    text-align: right;
    width: 2.4rem;
  }
}

.breadcrumbs {
  a {
    background: image_url('biovision/base/icons/breadcrumb.svg') no-repeat bottom .1rem right / .6rem 1.2rem;
    padding-right: 1rem;
    transition: background .25s;

    &:hover {
      background-image: image_url('biovision/base/icons/breadcrumb-hover.svg');
    }
  }
}

form {
  margin: 0;
  padding: 0;

  .guideline {
    color: $text-color-secondary;
    font-size: $font-size-decreased;
    margin: 0;

    &::before {
      content: '\261E';
      margin-right: .4rem;
    }
  }

  .check-result-error {
    color: #ff0000;

    &::before {
      content: '\261D';
      margin-right: .4rem;
    }
  }

  dl {
    margin: 0;
    padding: 0;
  }

  dt {
    font: 500 $font-size-increased $font-family-main;

    &:not(:first-of-type) {
      border-top: $border-secondary;
      margin: .8rem 0 0 0;
      padding: .4rem 0 0 0;
    }
  }

  dd {
    padding: .2rem 0;

    ul {
      margin: 0 auto;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
  }

  input {
    font-size: $font-size-normal;
  }

  ul.flags {
    margin: .8rem 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.hidden {
  display: none !important;
}

.visually-hidden {
  height: .1rem;
  left: -10000rem;
  opacity: .05;
  overflow: hidden;
  position: absolute;
  width: .1rem;
}

.proportional-container {
  padding: 0;
  position: relative;

  > * {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &::before {
    content: '\A';
    display: block;
  }

  &.r-1x1::before {
    padding-top: 100%;
  }

  &.r-5x4::before {
    padding-top: 80%;
  }

  &.r-4x3::before {
    padding-top: 75%;
  }

  &.r-3x2::before {
    padding-top: 66.67%;
  }

  &.r-16x9::before {
    padding-top: 56.25%;
  }

  &.r-2x1::before {
    padding-top: 50%;
  }
}

input.control:not(:checked) + div {
  display: none;
}
