$button-action-bg-a: #2e3c8e !default;
$button-action-bg-b: #3d94f6 !default;
$button-action-border-a: .1rem solid #2e3c8e !default;
$button-action-border-b: .1rem solid #515da3 !default;
$button-action-text-a: #fff !default;
$button-action-text-b: #fff !default;

$button-nav-bg-a: #fff !default;
$button-nav-bg-b: #1e62d0 !default;
$button-nav-border-a: .1rem solid #2e3c8e !default;
$button-nav-border-b: .1rem solid #2e3c8e !default;
$button-nav-text-a: #3d94f6 !default;
$button-nav-text-b: #fff !default;

$button-create-bg-a: #68a54b !default;
$button-create-bg-b: #5ba337 !default;
$button-create-border-a: .1rem solid #3b6e22 !default;
$button-create-border-b: .1rem solid #3b6e22 !default;
$button-create-text-a: #fff !default;
$button-create-text-b: #fff !default;

$button-destroy-bg-a: #a54b68 !default;
$button-destroy-bg-b: #a3375b !default;
$button-destroy-border-a: .1rem solid #6e223b !default;
$button-destroy-border-b: .1rem solid #6e223b !default;
$button-destroy-text-a: #fff !default;
$button-destroy-text-b: #fff !default;

@mixin button($bg-a, $text-a, $border-a, $bg-b, $text-b, $border-b) {
  background: $bg-a;
  border: $border-a;
  border-radius: #{$font-size-normal * .375};
  box-sizing: border-box;
  color: $text-a;
  cursor: pointer;
  display: inline-block;
  font: #{$font-size-normal}/1.5 $font-family-main;
  padding: 0 $font-size-normal;
  text-decoration: none;
  transition: .125s;

  &:active,
  &:focus,
  &:hover {
    background: $bg-b;
    border: $border-b;
    color: $text-b;
  }
}

@mixin button-action {
  @include button(
                  $button-action-bg-a, $button-action-text-a, $button-action-border-a,
                  $button-action-bg-b, $button-action-text-b, $button-action-border-b
  )
}

@mixin button-nav {
  @include button(
                  $button-nav-bg-a, $button-nav-text-a, $button-nav-border-a,
                  $button-nav-bg-b, $button-nav-text-b, $button-nav-border-b
  )
}

@mixin button-create {
  @include button(
                  $button-create-bg-a, $button-create-text-a, $button-create-border-a,
                  $button-create-bg-b, $button-create-text-b, $button-create-border-b
  )
}

@mixin button-destroy {
  @include button(
                  $button-destroy-bg-a, $button-destroy-text-a, $button-destroy-border-a,
                  $button-destroy-bg-b, $button-destroy-text-b, $button-destroy-border-b
  )
}

.button-action,
a:link.button-action,
a:visited.button-action {
  @include button-action;
}

.button-nav,
a:link.button-nav,
a:visited.button-nav {
  @include button-nav;
}

.button-create,
a:link.button-create,
a:visited.button-create {
  @include button-create;
}

.button-destroy,
a:link.button-destroy,
a:visited.button-destroy {
  @include button-destroy;
}



// То, что ниже, оставлено для обратной совместимости, но это нужно будет убрать

$button-action-bg-c: #3d94f6 !default;
$button-action-bg-d: #1e62d0 !default;
$button-action-border-color-a: #2e3c8e !default;
$button-action-border-color-b: #515da3 !default;
$button-action-text-color-a: #fff !default;
$button-action-text-color-b: #fff !default;

$button-nav-bg-c: #1e62d0 !default;
$button-nav-bg-d: #3d94f6 !default;
$button-nav-border-color-a: #2e3c8e !default;
$button-nav-border-color-b: #2e3c8e !default;
$button-nav-text-color-a: #3d94f6 !default;
$button-nav-text-color-b: #fff !default;

$button-create-bg-c: #5ba337 !default;
$button-create-bg-d: #59ab33 !default;
$button-create-border-color-a: #3b6e22 !default;
$button-create-border-color-b: #3b6e22 !default;
$button-create-text-color-a: #fff !default;
$button-create-text-color-b: #fff !default;

$button-destroy-bg-c: #a3375b !default;
$button-destroy-bg-d: #ab3359 !default;
$button-destroy-border-color-a: #6e223b !default;
$button-destroy-border-color-b: #6e223b !default;
$button-destroy-text-color-a: #fff !default;
$button-destroy-text-color-b: #fff !default;

@mixin styled-button($bg-a, $bg-b, $bg-c, $bg-d, $border-a, $border-b, $text-a, $text-b) {
  background: $bg-a linear-gradient(to top, $bg-a, $bg-b);
  border: .1rem solid $border-a;
  border-radius: .6rem;
  box-sizing: border-box;
  color: $text-a;
  cursor: pointer;
  display: inline-block;
  font: $font-size-normal $font-family-main;
  line-height: 1.5;
  padding: 0 1.6rem;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    background: $bg-c linear-gradient(to top, $bg-c, $bg-d);
    border-color: $border-b;
    color: $text-b;
  }
}

@mixin action-button {
  @include button-action;
}

@mixin nav-button {
  @include button-nav;
}

@mixin create-button {
  @include button-create;
}

@mixin destroy-button {
  @include button-destroy;
}

.action-button,
a:link.action-button,
a:visited.action-button {
  @include button-action;
}

.nav-button,
a:link.nav-button,
a:visited.nav-button {
  @include button-nav;
}

.create-button,
a:link.create-button,
a:visited.create-button {
  @include button-create;
}

.destroy-button,
a:link.destroy-button,
a:visited.destroy-button {
  @include button-destroy;
}
