$font-family-main: "Roboto", sans-serif !default;
$font-family-heading: "Cormorant Garamond", serif !default;

$font-size-xxxl: 4.5rem !default;
$font-size-xxl: 3.6rem !default;
$font-size-xl: 3.2rem !default;
$font-size-large: 2.4rem !default;
$font-size-increased: 1.8rem !default;
$font-size-normal: 1.6rem !default;
$font-size-decreased: 1.4rem !default;
$font-size-small: 1.2rem !default;
$font-size-xs: 1rem !default;

$spacer-s: 1.6rem !default;
$spacer-xxxs: .2rem !default;
$spacer-xxs: #{$spacer-s / 4} !default;
$spacer-xs: #{$spacer-s / 2} !default;
$spacer-m: #{$spacer-s * 2} !default;
$spacer-l: #{$spacer-s * 3} !default;
$spacer-xl: #{$spacer-s * 4} !default;
$spacer-xxl: #{$spacer-s * 6} !default;

$content-width: 120rem !default;
$content-width-min: 32rem !default;

$row-background-even: hsl(0, 0%, 95%) !default;
$row-background-odd: hsl(0, 0%, 98%) !default;

$text-color-heading: #000 !default;
$text-color-primary: rgb(28, 28, 28) !default;
$text-color-secondary: #777 !default;

$text-color-inverted-primary: #fff !default;
$text-color-inverted-secondary: #ccc !default;
$text-color-inverted-heading: #eee !default;

$block-shadow: .2rem .2rem .4rem .2rem rgba(0, 0, 0, .125) !default;

$border-color-primary: rgb(192, 192, 192) !default;
$border-color-secondary: rgb(230, 230, 230) !default;
$border-primary: .1rem solid $border-color-primary !default;
$border-secondary: .1rem solid $border-color-secondary !default;

$background-body: #f4f4f4 linear-gradient(to top, #f4f4f4, #dfdedc) no-repeat center / cover !default;
$background-header: #fff !default;
$background-main: #fff !default;
$background-footer: #fff !default;

$link-color: rgb(20, 127, 255) !default;
$link-color-visited: rgb(20, 77, 250) !default;
$link-color-active: rgb(255, 77, 20) !default;
$link-color-hover: rgb(255, 77, 20) !default;

@import "biovision/base/toggleable";
@import "biovision/base/buttons/buttons-common";
@import "biovision/base/biovision";
@import "biovision/base/admin";
@import "biovision/base/tootik";
@import "biovision/base/message-box";
@import "biovision/base/pagination";
@import "biovision/base/filters";
@import "biovision/base/track";
@import "biovision/base/users";
