$font-family-heading: "Cormorant Garamond", serif !default;
$font-family-main: "PT Sans", sans-serif !default;

$font-size-large: 2rem !default;
$font-size-increased: 1.6rem !default;
$font-size-normal: 1.4rem !default;
$font-size-decreased: 1.2rem !default;
$font-size-small: 1rem !default;

$content-width: 100rem !default;
$content-width-min: 32rem !default;

$row_background_even: #f0f0f0 !default;
$row_background_odd: #fafafa !default;

$text-color-heading: #000 !default;
$text-color-primary: rgb(28, 28, 28) !default;
$text-color-secondary: #777 !default;

$block-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, .25) !default;

$border-primary: .1rem solid rgb(192, 192, 192) !default;

$background-header: #fff !default;
$background-main: #fff !default;
$background-footer: #fff !default;

$link-color: rgb(20, 127, 255) !default;
$link-color-visited: rgb(20, 77, 250) !default;
$link-color-hover: rgb(255, 77, 20) !default;
