$main-font-family: "Roboto", sans-serif;

$row_background_even: #f0f0f0;
$row_background_odd: #fafafa;

$primary-text-color: #000;
$secondary-text-color: #777;

$block-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, .25);

$button-action-bg-a: #2e3c8e;
$button-action-bg-b: #515da3;
$button-action-bg-c: #3d94f6;
$button-action-bg-d: #1e62d0;
$button-action-border-color-a: #2e3c8e;
$button-action-border-color-b: #515da3;
$button-action-text-color-a: #fff;
$button-action-text-color-b: #fff;

$button-nav-bg-a: #fff;
$button-nav-bg-b: #fafafa;
$button-nav-bg-c: #1e62d0;
$button-nav-bg-d: #3d94f6;
$button-nav-border-color-a: #2e3c8e;
$button-nav-border-color-b: #2e3c8e;
$button-nav-text-color-a: #3d94f6;
$button-nav-text-color-b: #fff;

$button-create-bg-a: #68a54b;
$button-create-bg-b: #74ad5a;
$button-create-bg-c: #5ba337;
$button-create-bg-d: #59ab33;
$button-create-border-color-a: #3b6e22;
$button-create-border-color-b: #3b6e22;
$button-create-text-color-a: #fff;
$button-create-text-color-b: #fff;

$button-destroy-bg-a: #a54b68;
$button-destroy-bg-b: #ad5a74;
$button-destroy-bg-c: #a3375b;
$button-destroy-bg-d: #ab3359;
$button-destroy-border-color-a: #6e223b;
$button-destroy-border-color-b: #6e223b;
$button-destroy-text-color-a: #fff;
$button-destroy-text-color-b: #fff;
