* {
  box-sizing: border-box;
}

html {
  font: 10px $font-family-main;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

h1, h2, h3, h4, h6, h6 {
  color: $text-color-heading;
  font-family: $font-family-heading;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 3rem;
  line-height: 4.2rem;
}

a:link {
  color: $link-color;
  text-decoration: none;
  transition: color .125s;
}

a:visited {
  color: $link-color-visited;
}

a:active,
a:hover {
  color: $link-color-hover;
  text-decoration: underline;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  background: $background-body;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  font-size: $font-size-normal;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  min-width: $content-width-min;
  padding: 0;

  > footer,
  > header {
    padding: .4rem 0;

    > div {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: $content-width;
      padding: .4rem;
    }

    .authentication {
      > div {
        display: flex;
        align-items: center;
      }

      .links {
        a:link,
        a:visited {
          @include button-nav;
          margin: 0 .4rem;
        }
      }

      .plate {
        .logout {
          @include button-action;
          margin-left: 1rem;
        }
      }
    }
  }

  > header {
    background: $background-header;
    border-bottom: $border-primary;

    > div {
      align-items: center;
    }

    .logo {
      margin-right: auto;
    }
  }

  > footer {
    background: $background-footer;
    border-top: $border-primary;
    margin: auto 0 0 0;

    > div {
      color: $text-color-secondary;
      font-size: $font-size-decreased;
    }

    nav {
      margin: 0 auto;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

#main {
  background: $background-main;
  flex: 1;
  margin: 0 auto;
  max-width: $content-width;
  padding: .8rem;
  width: 100%;
}

form {
  dt {
    font: 500 $font-size-increased $font-family-main;

    &:not(:first-of-type) {
      border-top: $border-secondary;
      margin: .8rem 0 0 0;
      padding: .4rem 0 0 0;
    }
  }

  dd {
    padding: .2rem 0;

    ul {
      margin: 0 auto;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
  }

  input {
    font-size: $font-size-normal;
  }

  input:not([type=checkbox]):not([type=radio]):not([type=date]):not([size]),
  textarea {
    width: 100%;
  }
}

.breadcrumbs {
  a {
    background: image_url('biovision/base/icons/breadcrumb.svg') no-repeat bottom .1rem right / .6rem 1.2rem;
    padding-right: 1rem;
    transition: background .25s;

    &:hover {
      background-image: image_url('biovision/base/icons/breadcrumb-hover.svg');
    }
  }
}
