// https://eliorshalev.github.io/tootik/

$tootik_background_color: #000000;
$tootik_success_color: #8bc34a;
$tootik_info_color: #29d2e4;
$tootik_warning_color: #f87d09;
$tootik_danger_color: #e91e63;
$tootik_text_color: #ffffff;

[data-tootik] {
  position: relative;

  &:after {
    content: attr(data-tootik);
    box-sizing: border-box;
    font-style: normal;
    text-align: center;
    padding: 6px 6px 5px;
    font-size: 13px;
    line-height: 14px;
    border-radius: 7px;
    color: $tootik_text_color;
    transition: opacity .3s cubic-bezier(.73, .01, 0, 1), transform .3s cubic-bezier(.73, .01, 0, 1);
    pointer-events: none;
    z-index: 100000;
    white-space: nowrap;
    bottom: 100%;
    transform: translate(-50%, 12px);
    max-width: 320px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: $tootik_background_color;
  }

  &:after, &:before {
    opacity: 0;
    position: absolute;
    left: 50%;
    backface-visibility: hidden;
  }

  &:before {
    border: 4px solid transparent;
    border-top-color: $tootik_background_color;
    border-bottom-width: 0;
    content: '';
    top: -2px;
    width: 0;
    height: 0;
    transform: translate(-50%, calc(-50% - 6px));
    transition: opacity .1s cubic-bezier(.73, .01, 0, 1) 0s, transform .6s cubic-bezier(.73, .01, 0, 1) 0s;
    z-index: 110000;
  }

  &[data-tootik-conf*=right]:before {
    border-top-color: transparent;
    border-right-color: $tootik_background_color;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  &[data-tootik-conf*=bottom]:before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: $tootik_background_color;
    border-left-color: transparent;
  }

  &[data-tootik-conf*=left]:before {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: $tootik_background_color;
  }

  &:focus:after, &:focus:before, &:hover:after, &:hover:before {
    opacity: 1;
  }

  &:focus:before, &:hover:before {
    transition: opacity .1s cubic-bezier(.73, .01, 0, 1) .1s, transform .6s cubic-bezier(.73, .01, 0, 1) .1s;
    transform: translate(-50%, calc(-50% - 2px));
  }

  &:focus:after, &:hover:after {
    transform: translate(-50%, -6px);
  }

  &[data-tootik-conf*=right] {
    &:before {
      border: 4px solid;
      border-left-width: 0;
      left: auto;
      right: -6px;
      top: 50%;
      transform: translate(calc(-50% + 7px), -50%);
    }

    &:after {
      top: 50%;
      left: 100%;
      bottom: auto;
      transform: translate(-12px, -50%);
    }

    &:focus:before, &:hover:before {
      transform: translate(calc(-50% + 3px), -50%);
    }

    &:focus:after, &:hover:after {
      transform: translate(7px, -50%);
    }
  }

  &[data-tootik-conf*=bottom] {
    &:before {
      border: 4px solid;
      border-top-width: 0;
      top: auto;
      bottom: -6px;
      left: 50%;
      transform: translate(-50%, calc(-50% + 6px));
    }

    &:after {
      top: 100%;
      left: 50%;
      bottom: auto;
      transform: translate(-50%, -12px);
    }

    &:focus:before, &:hover:before {
      transform: translate(-50%, calc(-50% + 2px));
    }

    &:focus:after, &:hover:after {
      transform: translate(-50%, 6px);
    }
  }

  &[data-tootik-conf*=left] {
    &:before {
      border: 4px solid;
      border-right-width: 0;
      left: -2px;
      top: 50%;
      width: 0;
      height: 0;
      transform: translate(calc(-50% - 8px), -50%);
    }

    &:after {
      top: 50%;
      right: 100%;
      bottom: auto;
      left: auto;
      transform: translate(12px, -50%);
    }

    &:focus:after, &:hover:after {
      transform: translate(-7px, -50%);
    }

    &:focus:before, &:hover:before {
      transform: translate(calc(-50% - 3px), -50%);
    }
  }

  &[data-tootik-conf*=multiline]:after {
    word-break: break-all;
    white-space: normal;
    min-width: 140px;
    max-width: 140px;
    text-overflow: clip;
  }

  &[data-tootik-conf*=delay] {
    &:before {
      transition: opacity .2s cubic-bezier(.73, .01, 0, 1) 0s, transform .3s cubic-bezier(.73, .01, 0, 1) 0s;
    }

    &:after {
      transition: opacity .3s cubic-bezier(.73, .01, 0, 1) 0s, transform .3s cubic-bezier(.73, .01, 0, 1) 0s;
    }

    &:focus:before, &:hover:before {
      transition: opacity .2s cubic-bezier(.73, .01, 0, 1) .5s, transform .6s cubic-bezier(.73, .01, 0, 1) .5s;
    }

    &:focus:after, &:hover:after {
      transition: opacity .3s cubic-bezier(.73, .01, 0, 1) .4s, transform .3s cubic-bezier(.73, .01, 0, 1) .4s;
    }
  }

  &[data-tootik-conf*=shadow]:after {
    box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .1);
  }

  &[data-tootik-conf*=no-fading]:after, &[data-tootik-conf*=no-fading]:before {
    transition: none;
  }

  &[data-tootik-conf*=no-arrow]:before {
    display: none;
  }

  &[data-tootik-conf*=square]:after {
    border-radius: 0;
  }

  &[data-tootik-conf*=invert] {
    &:after {
      color: $tootik_background_color;
      background: $tootik_text_color;
    }

    &:before {
      border-top-color: $tootik_text_color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=right]:before {
      border-top-color: transparent;
      border-right-color: $tootik_text_color;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=bottom]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tootik_text_color;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=left]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tootik_text_color;
    }
  }

  &[data-tootik-conf*=success] {
    &:after {
      background: $tootik_success_color;
    }

    &:before {
      border-top-color: $tootik_success_color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent
    }

    &[data-tootik-conf*=right]:before {
      border-top-color: transparent;
      border-right-color: $tootik_success_color;
      border-bottom-color: transparent;
      border-left-color: transparent
    }

    &[data-tootik-conf*=bottom]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tootik_success_color;
      border-left-color: transparent
    }

    &[data-tootik-conf*=left]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tootik_success_color;
    }
  }

  &[data-tootik-conf*=info] {
    &:after {
      background: $tootik_info_color;
    }

    &:before {
      border-top-color: $tootik_info_color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=right]:before {
      border-top-color: transparent;
      border-right-color: $tootik_info_color;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=bottom]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tootik_info_color;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=left]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tootik_info_color;
    }
  }

  &[data-tootik-conf*=warning] {
    &:after {
      background: $tootik_warning_color;
    }

    &:before {
      border-top-color: $tootik_warning_color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=right]:before {
      border-top-color: transparent;
      border-right-color: $tootik_warning_color;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=bottom]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tootik_warning_color;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=left]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tootik_warning_color;
    }
  }

  &[data-tootik-conf*=danger] {
    &:after {
      background: $tootik_danger_color;
    }

    &:before {
      border-top-color: $tootik_danger_color;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=right]:before {
      border-top-color: transparent;
      border-right-color: $tootik_danger_color;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=bottom]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: $tootik_danger_color;
      border-left-color: transparent;
    }

    &[data-tootik-conf*=left]:before {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: $tootik_danger_color;
    }
  }

  &[data-tootik='']:after, &[data-tootik='']:before {
    display: none;
  }
}
