#agents-filter {
  .pages {
    align-items: center;
    display: flex;

    button {
      height: 1.2rem;
      margin: 0;
      padding: 0;
      width: 2rem;
    }
  }
}

div.track {
  border: .1rem dotted;
  color: $text-color-secondary;
  font-size: $font-size-decreased;
  margin: 1.6rem .4rem;
  padding: .4rem;
}
