#agents-filter {
  .pages {
    align-items: center;
    display: flex;

    button {
      height: 1.2rem;
      margin: 0;
      padding: 0;
      width: 2rem;
    }
  }
}

div.track {
  border: .1rem dotted;
  box-sizing: border-box;
  font-size: $font-size-decreased;
  margin: .4rem;
  padding: .4rem;
  width: 100%;

  > div {
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    //width: 100%;
  }
}
