.privileges {
  .entity {
    > input[type=checkbox] {
      &:checked ~ ul {
        button,
        input[type=checkbox] {
          display: none;
        }
      }
    }
  }
}

div.user-search {
  .message-box-warning {
    background-position: left .4rem center;
    font-weight: 400;
    margin: .4rem;
    padding: .4rem .4rem .4rem 2.4rem;
  }

  .results {
    ul {
      margin: .4rem;
      padding: 0;

      li {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        list-style: none;
        margin: 0;
        padding: 0 .4rem;

        &:hover {
          outline: .1rem solid #070;
        }
      }
    }
  }
}

.my-profile-new {
  form {
    max-width: 50rem;

    .actions {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  dl {
    input {
      max-width: 32rem;

      &:not([size]) {
        width: calc(100% - 1rem);
      }
    }
  }

  .trap {
    height: .01rem;
    left: -300rem;
    overflow: hidden;
    position: absolute;
    width: .01rem;
  }
}

.my-confirmation,
.my-recovery {
  section {
    margin: 1.6rem 0;
  }

  form {
    max-width: 32rem;

    dl {
      input {
        width: calc(100% - 1rem);
      }
    }
  }
}

form.login {
  max-width: 26rem;

  .fields {
    > div {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  .actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
  }
}

article.user {
  figure {
    max-width: 32rem;

    figcaption {
      font-size: $font-size-large;
      text-align: center;
    }
  }

  form {
    max-width: 40rem;
  }

  dl {
    margin-bottom: 2.4rem;
  }
}
