<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_path) %></li>
  </ul>

  <ul class="biovision-components-list">
    <% @collection.each do |component| %>
      <li>
        <% name = t("biovision.components.#{component.slug}.name", default: component.slug) %>
        <%=
          link_to(
              "#{component.slug}: #{name}",
              admin_component_path(slug: component.slug),
              class: component.slug
          )
        %>
      </li>
    <% end %>
  </ul>
</article>
