<%= render partial: 'editable_pages/entity/metadata', locals: { entity: @editable_page } %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article class="editable-page">
  <% unless @editable_page.nil? %>
    <%=
      render(
          partial: 'editable_pages/entity/content',
          locals: { entity: @editable_page }
      )
    %>
  <% end %>

  <%= render partial: 'feedback_requests/form' %>
</article>
