<% if @editable_page.nil? %>
    <% content_for :meta_title, t('.title') %>

    <article>
      <h1><%= t('.heading') %></h1>

      <div class="message-box-warning"><%= t('.message') %></div>
    </article>
<% else %>
    <%= render partial: 'editable_pages/editable_page', locals: { entity: @editable_page } %>
<% end %>
