<nav class="biovision-component-nav">
  <% if handler.allow?('settings') %>
    <% if handler.use_parameters? || handler.component.settings.any? %>
      <%=
        link_to(
            t('admin.components.settings.nav_text'),
            admin_component_settings_path(slug: handler.slug),
            class: 'settings'
        )
      %>
    <% end %>
  <% end %>

  <% if handler.administrator? %>
    <%=
      link_to(
          t('admin.components.privileges.nav_text'),
          admin_component_privileges_path(slug: handler.slug),
          class: 'privileges'
      )
    %>
  <% end %>

  <% prefix = 'admin/components/links/' %>
  <% if lookup_context.exists?("#{prefix}_#{handler.slug}") %>
    <ul class="biovision-component-links">
      <%=
        render(
            partial: "#{prefix}#{handler.slug}",
            locals: { handler: handler }
        )
      %>
    </ul>
  <% end %>
</nav>
