<% if content_for? :breadcrumbs %>
  <nav class="breadcrumbs">
    <div>
      <%= link_to(t('admin.index.index.heading'), admin_path) %>
      <%= yield :breadcrumbs %>
    </div>
  </nav>
<% end %>
