@import "shared";
@import "biovision/base/themes/simple-layout";

:focus {
  outline: none;
}

.content-wrapper {
  margin: 0 auto;
  max-width: $content-width;
}

@import "application/components";
@import "header";
@import "footer";
